header {
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: white;
}

.header-left {
    float: left;
}

@media(max-width: 410px) {
    header>.container>.title {
        font-size: 22px !important;
    }
}

@media(max-width: 370px) {
    header>.container>.title {
        font-size: 18px !important;
    }
}

@media(max-width: 350px) {
    header>.container>.title {
        font-size: 16px !important;
    }
}

.header-right {
    float: right;
}

header>.container>.title {
    width: 100%;
    padding-top: 10px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}

header>.container>.title a:visited {
    color: #722F2F;
}

a {
    color: #722F2F;
    text-decoration: none;
}

img#logo {
    margin-right: 10px;
}

a#header-login {
    display: inline-block;
    padding: 5px 0 5px 0;
}