body {
    margin: 0;
    padding: 0;
    font-family: "Hiragino Kaku Gothic ProN";
    width: 100%;
}

.container {
    margin: 0 auto;
    padding: 0 180px;
}

@media(max-width: 1200px) {
    .container {
        padding: 0 40px;
    }

    .subtitle {
        font-size: 24px !important;
    }

    main>.container>.post>.post-main {
        padding-left: 50px !important;
    }
}

@media(max-width: 670px) {
    .container {
        padding: 0 15px;
    }

    .subtitle {
        font-size: 18px !important;
    }


    main>.container>.post>.post-main {
        padding-left: 0px !important;
    }
}

@media(max-width: 400px) {}

main {
    height: 100%;
    padding-top: 50px;
    background-color: #f7f7f7;
    color: #545454;
}

main>.container table #wifimsg {
    border: none;
}

main>.container table input {
    font-size: 100%;
    width: 100%;
    height: 30px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

main>.container table textarea {
    font-size: 100%;
    width: 100%;
    height: 150px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    resize: none;

}

main>.container>form>.button {
    border-radius: 5%;
    z-index: 1;
    /* 角丸       */
    font-size: 18pt;
    /* 文字サイズ */
    text-align: center;
    /* 文字位置   */
    cursor: pointer;
    /* カーソル   */
    padding: 12px 12px;
    /* 余白       */
    background: #722F2F;
    /* 背景色     */
    color: #ffffff;
    /* 文字色     */
    line-height: 1em;
    /* 1行の高さ  */
    transition: .3s;
    /* なめらか変化 */
    box-shadow: 6px 6px 3px #666666;
    /* 影の設定 */
    border: 2px solid #722F2F;
    /* 枠の指定 */
    outline: none;
}

main>.container>form>.button:hover {
    box-shadow: none;
    /* カーソル時の影消去 */
    color: #722F2F;
    /* 背景色     */
    background: #ffffff;
    /* 文字色     */
}

main>.container table ::placeholder {
    color: #ccc;
}

.agenda-title {
    margin-top: 20px;
    float: left;
}

.subtitle {
    font-size: 37px;
}

.delete-msg {
    font-size: 24px;
    color: red;
}

.createUser-msg {
    font-size: 24px;
    color: red;
}

.mokudb {
    font-size: 24px;
}

.paging {
    text-align: center;
}

#paging-textnext,
#paging-textprev,
#paging-prev,
#paging-next,
#paging-number {
    border-radius: 20px;
    margin: 8px;
    padding: 4px 16px;
    background-color: #722F2F;
    color: white !important;
    display: inline-block;
    transition: all 0.2s;
}

#paging-textnext:hover,
#paging-textprev:hover,
#paging-prev:hover,
#paging-next:hover,
#paging-number:hover {
    opacity: 0.8;
}

.tooltip:hover {
    color: #722F2F;
}

main>.container>.post>.post-main {
    height: 400px;
    padding-left: 150px;
}

main>.container>.users {
    height: 400px;
}

main>.container>.users>.users-main {
    text-align: center;
}

main>.container>.users>.users-main>.form>form>.form-user {
    padding-bottom: 14px;
}

main>.container>.users>.users-main>.form>form>.form-user>.form-input {
    font-size: 100%;
    height: 30px;
    width: 220px;
    border-radius: 5px;
    border: 2px solid #ddd;
    /*枠線*/
    box-sizing: border-box;
    /*横幅の解釈をpadding, borderまでとする*/
    outline: none;
}

main>.container>.users>.users-main>.form>form>.form-user>.form-input::placeholder {
    color: #ccc
}

main>.container>.users>.users-main>.form>form>#button-user {
    display: inline-block;
    border-radius: 5px;
    /* 角丸       */
    font-size: 12pt;
    /* 文字サイズ */
    text-align: center;
    /* 文字位置   */
    cursor: pointer;
    /* カーソル   */
    padding: 12px 12px;
    /* 余白       */
    background: #722f2f;
    /* 背景色     */
    color: #ffffff;
    /* 文字色     */
    line-height: 1em;
    /* 1行の高さ  */
    transition: .2s;
    /* なめらか変化 */
    box-shadow: 3px 3px 1.5px #666666;
    /* 影の設定 */
    border: 0.5px solid #722f2f;
    /* 枠の指定 */
    outline: none;
}

main>.container>.users>.users-main>.form>form>#button-user:hover {
    box-shadow: none;
    /* カーソル時の影消去 */
    color: #722f2f;
    /* 背景色     */
    background: #ffffff;
    /* 文字色     */
}


main>.container>.post>.storage {
    height: 600px;
}

main>.container>.post>.post-main>.post-left {
    float: left;
}

main>.container>.post>.edit {
    height: 500px;
}

main>.container>.post>.post-main>form>.post-left {
    float: left;
}

main>.container>.post>.post-main>.post-right {
    float: right;
}

main>.container>.post>.post-main>.post-bottom {
    padding-top: 300px;
}

main>.container>.post>.post-main>.post-left>.contents,
main>.container>.post>.post-main>.post-left>.rule,
main>.container>.post>.post-main>.post-left>.edit,
main>.container>.post>.post-main>.post-left>.delete {
    padding-top: 10px;
    font-size: 20px;
    color: #722F2F;
}

main>.container>.post>.post-main>form>.post-left>.contents,
main>.container>.post>.post-main>form>.post-left>.rule,
main>.container>.post>.post-main>form>.post-left>.edit,
main>.container>.post>.post-main>form>.post-left>.delete {
    padding-top: 10px;
    font-size: 20px;
    color: #722F2F;
}

main>.container>.post>.post-main>.post-left>.contents>.description,
main>.container>.post>.post-main>.post-left>.rule>.description {
    padding-left: 40px;
    font-size: 16px;
    color: #545454;
}

main>.container>.post>.post-main>form>.post-left>.contents>.description,
main>.container>.post>.post-main>form>.post-left>.rule>.description {
    padding-left: 40px;
    font-size: 16px;
    color: #545454;
}

#weight {
    font-weight: bold;
}

main>.container>.post>.post-main>.post-left>.edit {
    font-size: 24px;
}

main>.container>.post>.post-main>form>.post-left>.edit {
    font-size: 24px;
}

main>.container>.post>.post-main>.post-left>.delete {
    font-size: 24px;
}

main>.container>.post>.post-main>form>.post-left>.delete {
    font-size: 24px;
}

main>.container>.post>.post-main>.post-right>#wifi {
    float: right;
}

main>.container>.post>.post-main>form>.post-right>#wifi {
    float: right;
}

main>.container>.post>.post-main>.post-right>#wifi>.ssid-pass {
    font-size: 18px;
}

main>.container>.post>.post-main>form>.post-right>#wifi>.ssid-pass {
    font-size: 18px;
}

.slider {
    padding-top: 52px;
}

.check-msg {
    color: red;
    display: none;
}

.check-vali-msg {
    color: red;
    display: none;
}

.validate {
    display: none;
}

.vali-msg {
    font-size: 24px !important;
}

#validate {
    color: red;
}

.validate-null {
    display: none;
}

#validate-null {
    color: red;
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}